* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.map-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.map {
  height: 400px;
  width: 40%;
}

.map-info {
  width: 60%;
}

.form-row {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

input[type="number"]:focus {
  outline: none;
  border: 1px solid #00bfff;
}

input[type="button"] {
  background-color: #00bfff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

input[type="button"]:hover {
  background-color: #0099cc;
}

#totalExpenses {
  margin-top: 10px;
  font-weight: bold;
}

